<h1>餐廳後台</h1>

<a href='/admin/restaurants'>
  <button type="button" class="btn btn-info">Restaurants</button>
</a>

<a href='/admin/categories'>
  <button type="button" class="btn btn-info">Categories</button>
</a>

<a href='/admin/users'>
  <button type="button" class="btn btn-info">Users</button>
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>

  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>

      {{#if this.isAdmin}}
      <td>admin</td>
      {{else}}
      <td>user</td>
      {{/if}}

      <td>
        <form action="/admin/users/{{this.id}}?_method=PUT" method="POST" style="display: inline;">
          {{#if this.isAdmin}}
          <button type="submit" class="btn btn-link">set as user</button>
          {{else}}
          <button type="submit" class="btn btn-link">set as admin</button>
          {{/if}}
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>