<div>
  <h1>{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>
</div>
<hr />

<ul>
  <li>評論數：{{restaurant.Comments.length}}</li>

  <li>瀏覽次數：{{restaurant.viewCounts}}</li>

  <li>收藏數：{{restaurant.FavoritedUsers.length}}</li>
</ul>

<a href="javascript:history.back()">回上一頁</a>