<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/restaurants/feeds">最新動態</a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>
<br /><br />

<h1>人氣餐廳</h1>
<hr />
<div class="row">
  {{#each restaurants}}
  <div class="col-md-6">
    <div class="card mb-4 shadow-sm">
      <div class="row">
        <div class="col-md-4 position-relative">
          <span class="badge badge-warning position-absolute"
            style="font-size: 2em; top:-5px;left:-1px">{{this.rank}}</span>
          <a href="/restaurants/{{this.id}}">
            <div class="w-100"
              style="background-image: url({{this.image}});background-repeat: no-repeat;background-position: center;background-size: cover; padding-bottom: 100%">
            </div>
          </a>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h4>No.{{this.rank}} {{this.name}}</h4>
            <span class="badge badge-secondary">收藏數：{{this.favoriteCount}}</span>
            <p class="card-text">{{this.description}}</p>

            <a class="btn btn-primary" href="/restaurants/{{this.id}}">Show</a>
            {{#if this.isFavorited }}
            <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-danger">移除最愛</button>
            </form>
            {{else}}
            <form action="/favorite/{{this.id}}" method="POST" style="display: contents;">
              <button type="submit" class="btn btn-primary">加到最愛</button>
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>