<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      {{#if profile.image}}
      <img src="{{profile.image}}" class="card-img" alt="avatar" style="border-radius: 50%; width: 15em; height: 15em;">
      {{else}}
      <img src="https://via.placeholder.com/400" class="card-img" alt="avatar"
        style="border-radius: 50%; width: 15em; height: 15em;">
      {{/if}}
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{profile.name}}</h5>
        <p class="card-text">{{profile.email}}</p>
        <p><a href="/users/{{profile.id}}/edit" class="btn btn-outline-primary">Edit</a></p>
      </div>
    </div>
  </div>
</div>